{% for award in resume.awards %}
  {% if loop.first %}
    <section class="content">
  {% else %}
    <section class="content work-content">
  {% endif %}
    <div class="row">
      <div class="content-cat big-text">
        {% if loop.first %}
        Awards Earned
        {% endif %}

        <p>{{award.date|datetimeformat}}</p>

      </div>
      <div class="content-text work-listing education-listing">
        {% if award.title and award.awarder %}
          {% if loop.first %}
            <p style="margin-top:1.0em;">
          {% else %}
            <p>
          {% endif %}
          
          <strong>{{award.title}}</strong> from <strong>{{award.awarder}}</strong>
          </p>
        {% endif %}

        {% if award.summary %}
        <p>{{award.summary}}</p>
        {% endif %}

      </div>
    </div>
  </section>
  {% endfor %}