<section class="content">
  <div class="row">
    <div class="content-cat">
      Contact
    </div>
    <div class="content-text">
      {% if resume.basics.website %}
      <ul>
        <li>Website</li>
        <li>{{resume.basics.website}}</li>
      </ul>
      {% endif %}

      {% if resume.basics.email %}
      <ul>
        <li>Email</li>
        <li>{{resume.basics.email}}</li>
      </ul>
      {% endif %}

      {% if resume.basics.phone %}
      <ul>
        <li>Phone</li>
        <li>{{resume.basics.phone}}</li>
      </ul>
      {% endif %}
    </div>
  </div>
</section>