{% for education in resume.education %}
  {% if loop.first %}
  <section class="content">
  {% else %}
  <section class="content education-content">
  {% endif %}

    <div class="row">
      <div class="content-cat big-text">

        {% if loop.first %}
        Education
        {% endif %}

        {{ dateline(education.startDate, education.endDate) }}

      </div>
      <div class="content-text work-listing education-listing">
        {% if education.institution %}
          {% if loop.first %}
          <p class="heading" style="margin-top:1.35em;">{{education.institution}}</p>
          {% else %}
          <p class="heading">{{education.institution}}</p>
          {% endif %}
        {% endif %}

        {% if education.area %}
        {% if education.gpa %}
        <p class="highlight">
          {% if education.studyType %}
          {{education.studyType}}:
          {% endif %}
          <i>{{education.area}} ({{education.gpa}})</i>
        </p>
        <p class="highlight">
          {% if education.thesis %}
          Thesis Title："{{education.thesis}}"
          {% endif %}
        </p>
        {% endif %}
        {% endif %}

        {% if education.award %}
        <p class="highlight">
          Award：
          {% if education.award %}
          <strong>{{education.award}}</strong> Awarded by <strong>{{education.awardPublisher}}</strong>
        </p>
        {% endif %}
        {% endif %}
      </div>
    </div>
  </section>
{% endfor %}