<section class="content">
  <div class="row">
    <div class="content-cat">
      Interests
    </div>
    <div class="content-text skills-listing">
      {% for interest in resume.interests %}
      <p>
        <span class="name">
          {% if interest.name %}
          <strong>
            {{interest.name}}
          </strong>
          {% endif %}
        </span>
        {% if interest.keywords %}
          {{interest.keywords|join(', ')}}
        {% endif %}
      </p>
      {% endfor %}
    </div>
  </div>
</section>