<section class="content">
  <div class="row">
    <div class="content-cat">
      Languages
    </div>
    <div class="content-text">

      {% for language in resume.languages %}
      <ul>

        {% if language.language %}
        <li>{{language.language}}</li>
        {% endif %}

        {% if language.fluency %}
        <li>{{fluency}}</li>
        {% endif %}

      </ul>
      {% endfor %}

    </div>
  </div>
</section>