<section class="content">
    <div class="row">
        <div class="content-cat">
        Location
        </div>
        <div class="content-text">
            {% if resume.basics.location.address %}
                <ul>
                    <li>Address</li>
                    <li>{{resume.basics.location.address}}</li>
                </ul>
            {% endif %}

            {% if resume.basics.location.city %}
                {% if resume.basics.location.postalCode %}
                    <ul>
                        <li>Postal Code & City</li>
                        <li>{{resume.basics.location.postalCode}} {{resume.basics.location.city}}</li>
                    </ul>
                {% endif %}
            {% endif %}

            {% if resume.basics.location.region %}
                <ul>
                    <li>Region</li>
                    <li>{{resume.basics.location.region}}</li>
                </ul>
            {% endif %}
        </div>
    </div>
</section>