<section class="content profiles">
  <div class="row">
    <div class="content-cat">
      Profiles
    </div>
    <div class="content-text profiles-listing">
      <ul>
        {% for profile in resume.basics.profiles %}
          <li>
            {{profile.network}} - {{profile.username}}
            <!-- <a href="{{profile.url}}" target="_blank">{{profile.network}}</a> -->
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>