{% for project in resume.projects %}
  {% if loop.first %}
    <section class="content">
  {% else %}
    <section class="content work-content">
  {% endif %}
    <div class="row">
      <div class="content-cat big-text">
        {% if loop.first %}
        Notable Projects
        {% endif %}

        {{ dateline(project.startDate, project.endDate) }}

      </div>
      <div class="content-text work-listing education-listing">
        {% if loop.first %}
        <p style="margin-top:1.0em;">
        {% else %}
        <p>
        {% endif %}

        <strong>{{project.name}}</strong>
        
        {% if project.url %}
        <br>
        <a href="{{project.url}}">{{project.url}}</a>
        {% endif %}

        {% if project.roles %}
        <div class="profiles">
            <p><strong>Project Roles</strong></p>
            <div class="row">
              <div class="content-text keywords-listing">
                <ul>
                  {% for role in project.roles %}
                    <li>
                        {{role}}
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        {% endif %}

        {% if project.description %}
        <p>{{project.description}}</p>
        {% endif %}

        {% if project.highlights %}
        <p><strong>Highlights:</strong> </p>
        {% for highlight in project.highlights %}
        <p class="highlight">{{highlight}}</p>
        {% endfor %}
        {% endif %}

        {% if project.project_skills %}
        <div class="profiles">
            <p><strong>Tools Used</strong></p>
            <div class="row">
              <div class="content-text keywords-listing">
                <ul>
                  {% for keyword in project.project_skills %}
                    <li>
                        {{keyword}}
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </section>
  {% endfor %}