<section class="content">
  <div class="row">
    <div class="content-cat big-text">
      Skills
    </div>
    <div class="content-text skills-listing">
      {% for skill in resume.skills %}
      <p>
        {% if skill.name %}
        <strong class="name">{{skill.name}} - ({{skill.level}})</strong>
        {% endif %}

        {% if skill.keywords %}
        <p class="skills-listing highlight">{{skill.keywords|join(', ')}}</p>
        {% endif %}
      </p>
      {% endfor %}
    </div>
  </div>
</section>

