{% for work in resume.work %}
  {% if loop.first %}
    <section class="content">
  {% else %}
    <section class="content work-content">
  {% endif %}
    <div class="row">
      <div class="content-cat big-text">
        {% if loop.first %}
        Work Experience
        {% endif %}

        {{ dateline(work.startDate, work.endDate) }}

      </div>
      <div class="content-text work-listing education-listing">
        {% if work.company and work.position %}
        {% if loop.first %}
        <p style="margin-top:1.0em;">
            {% else %}
          <p>
              {% endif %}
              {% if work.website %}
            <strong>{{work.position}}</strong> at <strong><a href="{{work.website}}">{{work.company}}:</a></strong>
            {% else %}
            <strong>{{work.position}}</strong> at <strong>{{work.company}}</strong>
            {% endif %}
          </p>
          {% endif %}
          {% if work.count_managed %}
          <p><strong>People Managed: </strong> {{work.count_managed}}</p>
          {% endif %}

          {% if work.summary %}
          <p>{{work.summary}}</p>
          {% endif %}

          {% if work.highlights %}
          <p><strong>Highlights:</strong> </p>
          {% for highlight in work.highlights %}
          <p class="highlight">{{highlight}}</p>
          {% endfor %}
          {% endif %}

          {% if work.base_work_skills %}
        <div class="profiles">
          <p><strong>Tools and Techniques Used:</strong> </p>
          <div class="row">
            <div class="content-text keywords-listing">
              <ul>
                {% for keyword in work.base_work_skills %}
                <li>
                  {{keyword}}
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        {% endif %}

      </div>
    </div>
  </section>
  {% endfor %}