<!doctype html>
<html>
	<head>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">
	
	<title>{{resume.basics.name}}</title>
	<link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
	

	<style>
	{{css}}
	</style>

	<style media="print">
	{{print}}
	</style>
	
	</head>
	<body>
		<span class="note">Check out new print view! (<strong>Press Ctrl + P</strong>) (Not available in Live-Editor!)</span>
		<div class="resume-wrapper">
			<article class="paper">
				<header>
					<div class="header-content">
						{% if resume.basics.picture and resume.theme_picture %}
						<div class="header-pic" title="Wiggle Wiggle">
							<img src="{{resume.basics.picture}}" class="pic" />
						</div>
						{% endif %}
						<div class="header-text">
							<p>
								{{resume.basics.name}}
							</p>
							<p class="subtitle">{{resume.basics.label}}</p>
							<p class="subtitle">{{resume.basics.summary}}</p>
						</div>
					</div>
				</header>

				{% macro dateline(startDate, endDate) %}
					{% if startDate %}
					<p>{{startDate|datetimeformat}} till

						{% if endDate %}
							{{endDate|datetimeformat}}
						{% else %}
							Present
						{% endif %}

					</p>
					{% endif %}
				{% endmacro %}

				<div class="content-wrapper">
			    
						<!-- CONTACT -->
						{% if resume.basics.website or resume.basics.email or resume.basics.phone %}
							{% include 'partials/contact.html' %}
						{% endif %}

						<!-- LOCATION -->
						{% if resume.basics.location %}
							{% if resume.basics.location.address or resume.basics.location.city %}
								{% include 'partials/location.html' %}
							{% endif %}
						{% endif %}

						<!-- PROFILES -->
						{% if resume.basics.profiles %}
			      	{% include 'partials/profile.html' %}
						{% endif %}

						<!-- SKILLS -->
						{% if resume.skills %}
						{% include 'partials/skills.html' %}
						{% endif %}

						<!-- LANGUAGE -->
			      {% if resume.languages %}
			      	{% include 'partials/language.html' %}
						{% endif %}

						<!-- WORK -->
						{% if resume.work %}
						{% include 'partials/work.html' %}
						{% endif %}

						<!-- AWARDS -->
						{% if resume.awards %}
						{% include 'partials/awards.html' %}
						{% endif %}

						<!-- PROJECTS -->
						{% if resume.projects %}
						{% include 'partials/project.html' %}
						{% endif %}

						<!-- EDUCATION -->
						{% if resume.education %}
						{% include 'partials/education.html' %}
						{% endif %}

						<!-- INTERESTS -->
						{% if resume.interests %}
						{% include 'partials/interests.html' %}
						{% endif %}
					</div>
			</article>
		</div>
	</body>
</html>
