
body, html {
  background-color: white;
  padding-top: 1.5em;
}

.paper {
  width:100%;
  border: 0;

  padding-top: 0;
}

header p {
  font-size: 1.3em;
}

.subtitle {
  font-size: 0.7em;
}

.header-pic {
  float:left;
}

.profiles {
  /* display:none; */
}

.content {
  page-break-inside:auto; 
  page-break-after:auto;
}

.header-text {
  float:left;
  margin-top: -1.6em;
}

.content-wrapper > .content:first-child {
  padding-top: 2em;
}

.content:last-child {
  padding-bottom: 0;
}

.content-cat {
  width:33%;
  color:black;
  text-align: left;
}

.content-cat p {
  font-size:0.6em;
  font-weight: 600;
}

header p, .content-text, .work-listing p, .content-text ul li:first-child, .work-listing .highlight, .content-text.skills-listing > ul > li > .highlight {
  color:black;
}

.content-text.skills-listing > ul > li span, .subtitle {
  color:#212121;
}

.content-text ul:last-child {
  margin-bottom: 0.25em;
}

.content-text ul li:first-child {
  width:50%;
}

.profiles-listing ul li:first-child {
  width:32%;
}

div.content-text.skills-listing > ul > li {
  width:33%;
}

.work-listing p {
  margin-bottom: 0.1em;
}

div.content-text.skills-listing > ul > li > p {
  margin-top: 0.4em;
  margin-bottom: 0.5em;
}

div.content-text.skills-listing > ul > li {
  padding-left: 1.5em;
}

div.content-text.skills-listing > ul > li:first-child {
  padding-left: 2em;
}

.note {
  display:none;
}

.content-text:hover {
  border-left:1px solid #eeeeee;
}

.content-text ul li a:hover {
  color:#4fc3f7;
}

.highlight:hover, .content-text.skills-listing > ul > li > .highlight:hover {
  border-left:1px solid #eeeeee;
}

.big-text {
  padding-top: 0;
}