<!doctype html>
<html>
	<head>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">
	
	<title>{{resume.basics.name}}</title>
	<link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
	
	<script type="text/javascript" src="https://cdn.rawgit.com/sbstjn/timesheet.js/master/dist/timesheet.min.js"></script>
	<link href='https://cdn.rawgit.com/sbstjn/timesheet.js/master/dist/timesheet.min.css' rel='stylesheet' type='text/css'>

	<style>
	{{css}}
	</style>

	<style media="print">
	{{print}}
	</style>
	
	</head>
	<body>

		<div id="timesheet"></div>
		<!-- JavaScript -->
		<script type="text/javascript" src="https://cdn.rawgit.com/sbstjn/timesheet.js/master/dist/timesheet.min.js"></script>
		<script>
		new Timesheet('timesheet', {{resume.timeline_min}}, {{resume.timeline_max}}, 
		{{resume.timeline_data}}
		);
			</script>

		{% for theme in resume.themes %}
			<a href="resume-{{theme}}.html">Resume Formatted in theme {{theme}}</a>
		{% endfor %}
	</body>
</html>
